# ==============================================
# MTK Policy Rule
# ==============================================

##type devmap_device, dev_#type;
##type ttyMT_device, dev_#type;
##type ttySDIO_device, dev_#type;
##type vmodem_device, dev_#type;
##type stpwmt_device, dev_#type;
##type wmtdetect_device, dev_#type;
##type wmtWifi_device, dev_#type;
##type stpbt_device, dev_#type;
##type stpant_device, dev_#type;
##type fm_device, dev_#type;
##type stpgps_device, dev_#type;
##type pmem_multimedia_device, dev_#type;
##type mt6516_isp_device, dev_#type;
##type mt6516_IDP_device, dev_#type;
##type mt9p012_device, dev_#type;
##type mt6516_jpeg_device, dev_#type;
##type FM50AF_device, dev_#type;
##type DW9714AF_device, dev_#type;
##type DW9814AF_device, dev_#type;
##type AK7345AF_device, dev_#type;
##type DW9714A_device, dev_#type;
##type LC898122AF_device, dev_#type;
##type LC898212AF_device, dev_#type;
##type BU6429AF_device, dev_#type;
##type AD5820AF_device, dev_#type;
##type DW9718AF_device, dev_#type;
##type BU64745GWZAF_device, dev_#type;
##type MAINAF_device, dev_#type;
##type MAIN2AF_device, dev_#type;
##type SUBAF_device, dev_#type;
##type M4U_device_device, dev_#type;
##type Vcodec_device, dev_#type;
##type MJC_device, dev_#type;
##type smartpa_device, dev_#type;
##type smartpa1_device, dev_#type;
##type uio0_device, dev_#type;
##type xt_qtaguid_device, dev_#type;
##type rfkill_device, dev_#type;
##type sw_sync_device, dev_#type, mlstrustedobject;
##type sec_device, dev_#type;
##type hid_keyboard_device, dev_#type;
##type btn_device, dev_#type;
##type uinput_device, dev_#type;
##type TV_out_device, dev_#type;
##type camera_sysram_device, dev_#type;
##type camera_isp_device, dev_#type;
##type camera_dpe_device, dev_#type;
##type camera_tsf_device, dev_#type;
##type camera_fdvt_device, dev_#type;
##type camera_rsc_device, dev_#type;
##type camera_gepf_device, dev_#type;
##type camera_wpe_device, dev_#type;
##type camera_owe_device, dev_#type;
##type camera_pipemgr_device, dev_#type;
##type ccu_device, dev_#type;
##type vpu_device, dev_#type;
##type mtk_jpeg_device, dev_#type;
##type kd_camera_hw_device, dev_#type;
##type seninf_device, dev_#type;
##type kd_camera_flashlight_device, dev_#type;
##type flashlight_device, dev_#type;
##type kd_camera_hw_bus2_device, dev_#type;
##type MATV_device, dev_#type;
##type mt_otg_test_device, dev_#type;
##type mt_mdp_device, dev_#type;
##type mtkg2d_device, dev_#type;
#type misc_sd_device, dev_#type;
#type mtk_sched_device, dev_#type;
#type ampc0_device, dev_#type;
#type mmp_device, dev_#type;
#type ttyGS_device, dev_#type;
#type CAM_CAL_DRV_device, dev_#type;
#type CAM_CAL_DRV1_device, dev_#type;
#type CAM_CAL_DRV2_device, dev_#type;
#type MTK_SMI_device, dev_#type;
#type mtk_cmdq_device, dev_#type;
#type mtk_rrc_device, dev_#type;
#type ebc_device, dev_#type;
#type vow_device, dev_#type;
#type MT6516_H264_DEC_device, dev_#type;
#type MT6516_Int_SRAM_device, dev_#type;
#type MT6516_MM_QUEUE_device, dev_#type;
#type MT6516_MP4_DEC_device, dev_#type;
#type MT6516_MP4_ENC_device, dev_#type;
#type sensor_device, dev_#type;
#type aed_device, dev_#type;
#type ccci_device, dev_#type;
#type ccci_monitor_device, dev_#type;
#type gsm0710muxd_device, dev_#type;
#type eemcs_device, dev_#type;
#type emd_device, dev_#type;
#type mt6605_device, dev_#type;
#type st21nfc_device, dev_#type;
#type exm0_device, dev_#type;
#type mmcblk_device, dev_#type;
#type BOOT_device, dev_#type;
#type MT_pmic_device, dev_#type;
#type aal_als_device, dev_#type;
#type accdet_device, dev_#type;
#type android_device, dev_#type;
#type bmtpool_device, dev_#type;
#type bootimg_device, dev_#type;
#type btif_device, dev_#type;
#type cache_device, dev_#type;
#type cpu_dma_latency_device, dev_#type;
#type dummy_cam_cal_device, dev_#type;
#type ebr_device, dev_#type;
#type expdb_device, dev_#type;
#type fat_device, dev_#type;
#type logo_device, dev_#type;
#type loop-control_device, dev_#type;
#type mbr_device, dev_#type;
#type met_device, dev_#type;
#type misc_device, dev_#type;
#type misc2_device, dev_#type;
#type mtfreqhopping_device, dev_#type;
#type mtgpio_device, dev_#type;
#type mtk_kpd_device, dev_#type;
#type network_device, dev_#type;
#type nvram_device, dev_#type;
#type pmt_device, dev_#type;
#type preloader_device, dev_#type;
#type pro_info_device, dev_#type;
#type protect_f_device, dev_#type;
#type protect_s_device, dev_#type;
#type psaux_device, dev_#type;
#type ptyp_device, dev_#type;
#type recovery_device, dev_#type;
#type sec_ro_device, dev_#type;
#type seccfg_device, dev_#type;
#type tee_part_device, dev_#type;
#type snapshot_device, dev_#type;
#type tgt_device, dev_#type;
#type touch_device, dev_#type;
#type tpd_em_log_device, dev_#type;
#type ttyp_device, dev_#type;
#type uboot_device, dev_#type;
#type uibc_device, dev_#type;
#type usrdata_device, dev_#type;
#type zram0_device, dev_#type;
#type hwzram0_device, dev_#type;
#type RT_Monitor_device, dev_#type;
#type kick_powerkey_device, dev_#type;
#type agps_device, dev_#type;
#type mnld_device, dev_#type;
#type geo_device, dev_#type;
#type mdlog_device, dev_#type;
#type md32_device, dev_#type;
#type scp_device, dev_#type;
#type sspm_device, dev_#type;
#type etb_device, dev_#type;
#type MT_pmic_adc_cali_device, dev_#type;
#type mtk-adc-cali_device, dev_#type;
#type MT_pmic_cali_device,dev_#type;
#type otp_device, dev_#type;
#type otp_part_block_device, dev_#type;
#type qemu_pipe_device, dev_#type;
#type icusb_device, dev_#type;
#type irtx_device, dev_#type;
#type pmic_ftm_device, dev_#type;
#type charger_ftm_device, dev_#type;
#type shf_device, dev_#type;
#type keyblock_device, dev_#type;
#type offloadservice_device, dev_#type;
#type ttyACM_device, dev_#type;
#type hrm_device, dev_#type;
#type lens_device, dev_#type;
#type nvdata_device, dev_#type;
#type nvcfg_device, dev_#type;
#type expdb_block_device, dev_#type;
#type misc2_block_device, dev_#type;
#type logo_block_device, dev_#type;
#type para_block_device, dev_#type;
#type tee_block_device, dev_#type;
#type seccfg_block_device, dev_#type;
#type secro_block_device, dev_#type;
#type preloader_block_device, dev_#type;
#type lk_block_device, dev_#type;
#type protect1_block_device, dev_#type;
#type protect2_block_device, dev_#type;
#type keystore_block_device, dev_#type;
#type oemkeystore_block_device, dev_#type;
#type sec1_block_device, dev_#type;
#type md1img_block_device, dev_#type;
#type md1dsp_block_device, dev_#type;
#type md1arm7_block_device, dev_#type;
#type md3img_block_device, dev_#type;
#type mmcblk1_block_device, dev_#type;
#type mmcblk1p1_block_device, dev_#type;
#type bootdevice_block_device, dev_#type;
#type odm_block_device, dev_#type;
#type oem_block_device, dev_#type;
#type vendor_block_device, dev_#type;
#type dtbo_block_device, dev_#type;
#type loader_ext_block_device, dev_#type;
#type spm_device, dev_#type;
#type persist_block_device, dev_#type;
#type md_block_device, dev_#type;
#type spmfw_block_device, dev_#type;
#type mcupmfw_block_device, dev_#type;
#type scp_block_device, dev_#type;
#type sspm_block_device, dev_#type;
#type dsp_block_device, dev_#type;
#type ppl_block_device, dev_#type;
#type nvcfg_block_device, dev_#type;
#type ancservice_device, dev_#type;
#type mbim_device, dev_#type;
#type audio_ipi_device, dev_#type;
#type cam_vpu_block_device,dev_#type;
#type boot_para_block_device,dev_#type;
#type mtk_dfrc_device, dev_#type;

##########################
# Sensor common Devices Start
#
#type hwmsensor_device, dev_#type;
#type msensor_device, dev_#type;
#type gsensor_device, dev_#type;
#type als_ps_device, dev_#type;
#type gyroscope_device, dev_#type;
#type barometer_device,dev_#type;
#type humidity_device,dev_#type;
#type biometric_device,dev_#type;
#type kb_block_device,dev_#type;
#type dkb_block_device,dev_#type;
##########################
# Sensor Devices Start
#
#type m_batch_misc_device, dev_#type;
##########################
# Sensor bio Devices Start
#
#type m_als_misc_device, dev_#type;
#type m_ps_misc_device, dev_#type;
#type m_baro_misc_device, dev_#type;
#type m_hmdy_misc_device, dev_#type;
#type m_acc_misc_device, dev_#type;
#type m_mag_misc_device, dev_#type;
#type m_gyro_misc_device, dev_#type;
#type m_act_misc_device, dev_#type;
#type m_pedo_misc_device, dev_#type;
#type m_situ_misc_device, dev_#type;
#type m_step_c_misc_device, dev_#type;
#type m_fusion_misc_device, dev_#type;
#type m_bio_misc_device, dev_#type;
